@media screen and (max-width: 769px) {
    /* Main */
    main {
        flex-direction: column;
        gap: 2rem;
    }
    /* First Section */
    .first-section {
        text-align: center;
    }
    #MeuFormulario {
        margin: 0 auto;
        max-width: 80%;
    }
    #nome, #email, #cursos {
        width: 100%;
        margin-bottom: 10px;
    }
    /* Second Section */
    .second-section {
        text-align: center;
        padding: 10% 5%;
    }
    /* Third Section */
    .third-section {
        text-align: center;
        padding: 20px 5%;
    }
    .main__text {
        width: 100%;
    }
    .main__img {
        width: 100%;
        margin-top: 3rem;
    }
    .main__text-metodologia > div {
        margin: 20px 0;
    }
    .wrapper-metodologia {
        padding: 0;
    }
    /* Fourth Section */
    section {
        padding-top: 0rem;
    }
    .fourth-section {
        text-align: center;
    }
    .titulo-prof {
        font-size: var(--fs-38);
        text-align: center;
    }
    .caixas {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .box1, .box2, .box3, .box4 {
        width: 60%;
        margin: 10px;
    }
    /* Fifth Section */
    .testimonial-heading {
        text-align: center;
    }
    .testimonial-box {
        flex: 0 0 360px;
        box-shadow: 1px 1px 3px var(--white);
        background-color: var(--white);
        border-radius: 0px 30px 30px 30px;
        padding: 20px;
        margin: 15px;
    }
    /* Sixth Section */
    .sixth-section {
        text-align: center;
        margin-top: 4rem;
    }
    /* Footer */
    footer {
        margin-top: 2rem;
        padding-bottom: 2rem;
        padding-top: 3rem;
    }
    .footer-col {
        width: 50%;
        padding: 0 10px;
        margin-bottom: 2rem;
    }
    .footer-col h4 {
        font-size: var(--fs-16);
    }
}
/* Media Quiz */
@media screen and (max-width: 769px) {
    /* Selecao */
    .main-title{
        margin-top: 1rem;
        margin-bottom: 4rem;
    }
    .main-subtitle {
        margin-bottom: 2rem;
    }
    .language-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* Quiz */
    #quiz {
        padding: 1rem 0;
    }
    .progress-bar {
        margin-bottom: 0px;
    }
    #quiz h2 {
        font-size: 26px;
        font-weight: 500;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    #answer-button {
        flex-direction: column;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .btn {
        width: 50%;
        margin: 5px 0;
        padding: 10px;
    }
    /* Finalizar */
    #finish {
        width: 100%;
        height: 50%;
        margin-top: 5rem;
        margin-bottom: 15rem;
    }
    #finalizar {
        display: flex;
        justify-content: space-between;
    }
    /*  Resultado */
    .resultado {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .result-content2 {
        padding: 15px 30px;
        gap: 15px;
        width: 350px;
        height: 250px;
    }
}